POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=abrigolambeijos
DATABASE_URL=postgresql://postgres:postgres@db:5432/abrigolambeijos
NEXT_PUBLIC_API_URL=http://backend:3001
PORT=3001
